name: Deploy to homelab

on:
  push:
    branches:
      - PRODUCTION

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency:
      group: deployment_lock
      cancel-in-progress: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up SSH key
        env:
          PROXY_HOST: ${{ vars.PROXY_HOST }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/key
          chmod 600 ~/.ssh/key
          ssh-keyscan -H $PROXY_HOST >> ~/.ssh/known_hosts

      - name: Deploy to homelab
        env:
          PROXY_HOST: ${{ vars.PROXY_HOST }}
          PROXY_USER: ${{ vars.PROXY_USER }}
          HOST: ${{ vars.HOST }}
          USER: ${{ vars.USER }}
          WORKING_DIRECTORY: ${{ vars.WORKING_DIRECTORY }}
        run: |
          eval $(ssh-agent -s)
          ssh-add ~/.ssh/key

          ssh -o StrictHostKeyChecking=no -J $PROXY_USER@$PROXY_HOST $USER@$HOST << ENDSSH

            set -euo pipefail

            cd "$WORKING_DIRECTORY"

            git fetch
            git reset --hard origin/PRODUCTION

            ./deploy.sh

          ENDSSH
